.map {
  height: 98vh;
  width: 100vw;
}

.popupPanel {
  height: 400px;
  width: 400px;
}

.graphCanvas {
  height: 400px;
  width: 400px;
}

.countryGraphCanvas {
    height: 350px;
    width: 400px;
    vertical-align: top;
}

.slideshowNavigation:hover {
    cursor:pointer;
}